h2 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.slot {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px;
}

.result-box {
    margin-top: 10px;
}

.selected {
    background-color: lightblue;
}